@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  box-sizing: border-box;
} */

body{
  font-family: sans-serif;
  color: #1d1f22;
}

::-webkit-scrollbar-thumb{
  background-color: blue;
}

::-webkit-scrollbar{
  width: 8px;
  height: 0px,
}
